<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>Template Wix</title>
  </head>
  <body>

    <div class="navbar">
      <div class="menu">
        <ul>
          <li><a href="#"><span>Accueil</span></a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">À propos</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Prendre RDV</a></li>
        </ul>
      </div>
    </div>

    <div class="titre">
      <h1>LU
      <br>
      LU<span>.</span></h1>
    </div>
    <div class="soustitre">
      <h2>MAQUILLEUSE PROFESSIONNELLE</h2>
    </div>

    <div class="portf">
      Mon portfolio >
    </div>

    <div class="parallax-window" data-parallax="scroll" data-image-src="img/fond4.webp"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="script.js"></script>

  </body>
</html>
